<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Dynamic Pricing</h1>
        <nav>
            
<a href="/home">Dashboard</a>
            <a href="/forecast">Forecast Demand</a>
            <a href="/dynamic_pricing">Dynamic Pricing</a>
            <a href="/patterns">Purchasing Patterns</a>
            <a href="/sales_ratio">Sales Ratio</a>
            <a href="/revenue">Forecast Revenue</a>
            <a href="/most_demanded">Most Demanded Items</a>
            <a href="/visualizations">Visualizations</a>
<a href="/">Logout</a>
        </nav>
    </header>
<main>
  <div class="container">
    <table>
      <tr>
        <th>Item Name</th>
        <th>Base Price (₹)</th>
        <th>Suggested Price (₹)</th>
      </tr>
      {% for price in prices %}
        <tr>
          <td>{{ price['Item Name'] }}</td>
          <td>₹{{ price['Base Price'] }}</td>
          <td>₹{{ price['Suggested Price'] }}</td>
        </tr>
      {% endfor %}
    </table>
    </div>
</main>
</body>
</html>
